<script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

<h1>Hello Postcode Checker</h1>
<h3>Validate you postcode</h3>

<div id="postcode">
  <p v-if="message.match('is allowed')" style="color: green;">{{ message }}</p>
  <p v-else style="color: red;">{{ message }}</p>
  <input v-model="postcode">
  <button v-on:click="checkPostcode">Check Postcode</button>
</div>

<script>
    const app = new Vue({
        el: '#postcode',
        data: {
            message: '',
            postcode: ''
        },
        methods: {
            checkPostcode: function () {
                axios
                  .get('/postcode/check?pc='+this.postcode)
                  .then(response => (this.message = response['data']))
            }
        }
    });
</script>